resources/schema/appserver.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:appserver="http://www.appserver.io/appserver"
           targetNamespace="http://www.appserver.io/appserver"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
    <xs:complexType name="simpleElement">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="uuid" type="xs:string"/>
                <xs:attribute ref="xml:base"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="access">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:params"/>
            </xs:choice>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="accesses">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:access"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="advice-aspect">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="advice-name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="advice-pointcuts">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:pointcut-name"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="advice-type">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="advice">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:advice-aspect"/>
                <xs:element ref="appserver:advice-name"/>
                <xs:element ref="appserver:advice-type"/>
                <xs:element ref="appserver:advice-pointcuts"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="analytic">
        <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element ref="appserver:connectors"/>
            </xs:choice>
            <xs:attribute name="uri" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="analytics">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:analytic"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="cron">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:jobs"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="jobs">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:job"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="job">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:schedule"/>
                <xs:element ref="appserver:execute"/>
            </xs:all>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="schedule">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string"/>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="execute">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:args"/>
            </xs:choice>
            <xs:attribute name="directory" type="xs:string" use="optional"/>
            <xs:attribute name="script" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="args">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:arg"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="arg">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="name" type="xs:string" use="optional"/>
                    <xs:attribute name="type" type="xs:string" use="required"/>
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="app">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="webappPath" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="apps">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:app"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="appserver">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:params"/>
                <xs:element ref="appserver:systemProperties" minOccurs="0"/>
                <xs:element ref="appserver:consoles" minOccurs="0"/>
                <xs:element ref="appserver:baseDirectory" minOccurs="0"/>
                <xs:element ref="appserver:initialContext" minOccurs="0"/>
                <xs:element ref="appserver:extractors" minOccurs="0"/>
                <xs:element ref="appserver:loggers" minOccurs="0"/>
                <xs:element ref="appserver:scanners" minOccurs="0"/>
                <xs:element ref="appserver:containers"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="consoles">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:console"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="console">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:params"/>
            </xs:choice>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="factory" type="xs:string" use="required"/>
            <xs:attribute name="createBackups" type="xs:boolean"/>
            <xs:attribute name="restoreBackups" type="xs:boolean"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="login-config">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:auth-method"/>
                <xs:element ref="appserver:realm-name"/>
                <xs:element ref="appserver:form-login-config" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="auth-method">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="realm-name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="form-login-config">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:form-login-page"/>
                <xs:element ref="appserver:form-error-page"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="form-login-page">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="form-error-page">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="security-role">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:role-name"/>
                <xs:element ref="appserver:description"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="error-page">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:error-code-pattern" minOccurs="0"/>
                <xs:element ref="appserver:error-location"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="error-code-pattern">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="error-location">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="role-name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="security-constraint">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:web-resource-collection" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="appserver:display-name" minOccurs="0"/>
                <xs:element ref="appserver:auth-constraint" minOccurs="0"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="web-resource-collection">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:web-resource-name" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="appserver:url-pattern" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="appserver:description" minOccurs="0"/>
                <xs:element ref="appserver:http-method" minOccurs="0"/>
                <xs:element ref="appserver:http-method-omission" minOccurs="0"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="auth-constraint">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:role-name" minOccurs="1"/>
                <xs:element ref="appserver:description" minOccurs="0" maxOccurs="1"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="web-resource-name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="http-method">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="http-method-omission">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="authentication">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:params"/>
            </xs:choice>
            <xs:attribute name="uri" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="authentications">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:authentication"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="baseDirectory">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="classLoader">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:params" minOccurs="0"/>
                <xs:element ref="appserver:directories"/>
                <xs:element ref="appserver:namespaces" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="interface" type="xs:string"/>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="factory" type="xs:string"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="classLoaders">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:classLoader"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
        <xs:unique name="uniqueClassLoaderName">
            <xs:selector xpath="appserver:classLoader" />
            <xs:field xpath="@name" />
        </xs:unique>
    </xs:element>
    <xs:element name="connectionHandler">
        <xs:complexType>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="module">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="appserver:params"/>
            </xs:choice>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="connectionHandlers">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:connectionHandler"/>
            </xs:choice>
        </xs:complexType>
        <xs:unique name="uniqueConnectionHandlerType">
            <xs:selector xpath="appserver:connectionHandler" />
            <xs:field xpath="@type" />
        </xs:unique>
    </xs:element>
    <xs:element name="connector">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="appserver:params"/>
            </xs:choice>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="connectors">
        <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element ref="appserver:connector"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
        <xs:unique name="uniqueConnectorName">
            <xs:selector xpath="appserver:connector" />
            <xs:field xpath="@name" />
        </xs:unique>
    </xs:element>
    <xs:element name="container" >
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:description"/>
                <xs:element ref="appserver:upstreams" minOccurs="0"/>
                <xs:element ref="appserver:servers"/>
                <xs:element ref="appserver:deployment"/>
                <xs:element ref="appserver:host"/>
                <xs:element ref="appserver:classLoaders" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="factory" type="xs:string" use="required"/>
            <xs:attribute name="provisioning" type="xs:boolean" use="optional"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="containers">
        <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element ref="appserver:container"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
        <xs:unique name="uniqueContainerName">
            <xs:selector xpath="appserver:container" />
            <xs:field xpath="@name" />
        </xs:unique>
    </xs:element>
    <xs:element name="context-param">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:param-name"/>
                <xs:element ref="appserver:param-value"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="context">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:params"/>
                <xs:element ref="appserver:classLoaders"/>
                <xs:element ref="appserver:managers"/>
                <xs:element ref="appserver:provisioners"/>
            </xs:choice>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="type" type="xs:string" use="optional"/>
            <xs:attribute name="factory" type="xs:string" use="optional"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="contexts">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:context"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
        <xs:unique name="uniqueContextName">
            <xs:selector xpath="appserver:context" />
            <xs:field xpath="@name" />
        </xs:unique>
    </xs:element>
    <xs:element name="init-on-startup">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="appserver:simpleElement">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="init-param">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:param-name"/>
                <xs:element ref="appserver:param-value"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="initialContext">
        <xs:complexType>
            <xs:choice maxOccurs="1">
                <xs:element ref="appserver:description" minOccurs="0"/>
                <xs:element ref="appserver:classLoader"/>
                <xs:element ref="appserver:storage"/>
            </xs:choice>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="injection-target-class">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="injection-target-method">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="injection-target-property">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="injection-target">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:injection-target-class"/>
                <xs:element ref="appserver:injection-target-method" minOccurs="0"/>
                <xs:element ref="appserver:injection-target-property" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="installation">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:steps" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="description">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="descriptor">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="descriptors">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="appserver:descriptor" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
        <xs:unique name="uniqueDescriptor">
            <xs:selector xpath="appserver:descriptor" />
            <xs:field xpath="." />
        </xs:unique>
    </xs:element>
    <xs:element name="destination">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="headers">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:header"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="header">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="type" type="xs:string"/>
                    <xs:attribute name="name" type="xs:string"/>
                    <xs:attribute name="value" type="xs:string"/>
                    <xs:attribute name="uri" type="xs:string"/>
                    <xs:attribute name="override" type="xs:boolean"/>
                    <xs:attribute name="append" type="xs:boolean"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="directories">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:directory"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="directory">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="enforced" type="xs:string"/>
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="securityDomains">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:securityDomain"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="securityDomain">
        <xs:complexType>
            <xs:choice minOccurs="1">
                <xs:element ref="appserver:authConfig" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="authConfig">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:loginModules"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="loginModules">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:loginModule"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="loginModule">
        <xs:complexType>
            <xs:choice minOccurs="0">
                <xs:element ref="appserver:params" maxOccurs="1"/>
            </xs:choice>
            <xs:attribute name="type" type="xs:string"/>
            <xs:attribute name="flag" type="xs:string"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="authenticators">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:authenticator"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="authenticator">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="name" type="xs:string"/>
                    <xs:attribute name="type" type="xs:string"/>
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="sessionHandlers">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:sessionHandler"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="sessionHandler">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:params"/>
            </xs:choice>
             <xs:attribute name="name" type="xs:string"/>
             <xs:attribute name="type" type="xs:string"/>
             <xs:attribute name="factory" type="xs:string"/>
             <xs:attribute name="uuid" type="xs:string"/>
             <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ignoredAnnotations">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:ignoredAnnotation"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="ignoredAnnotation">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="display-name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="step">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="appserver:params" minOccurs="0" maxOccurs="1"/>
            </xs:choice>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="steps">
        <xs:complexType>
            <xs:choice minOccurs="0">
                <xs:element ref="appserver:step" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="storage">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:servers"/>
            </xs:choice>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="servers">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:server"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
        <xs:unique name="uniqueServerName">
            <xs:selector xpath="appserver:server" />
            <xs:field xpath="@name" />
        </xs:unique>
    </xs:element>
    <xs:element name="upstreams">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:upstream"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
        <xs:unique name="uniqueUpstreamName">
            <xs:selector xpath="appserver:upstream" />
            <xs:field xpath="@name" />
        </xs:unique>
    </xs:element>
    <xs:element name="servlet-class">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="servlet-mapping">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:servlet-name"/>
                <xs:element ref="appserver:url-pattern"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="servlet-name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="servlet">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:description" minOccurs="0"/>
                <xs:element ref="appserver:display-name" minOccurs="0"/>
                <xs:element ref="appserver:servlet-name"/>
                <xs:element ref="appserver:servlet-class"/>
                <xs:element ref="appserver:init-param"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="modules">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:module"/>
            </xs:choice>
        </xs:complexType>
        <xs:unique name="uniqueModuleType">
            <xs:selector xpath="appserver:module" />
            <xs:field xpath="@type" />
        </xs:unique>
    </xs:element>
    <xs:element name="certificate">
        <xs:complexType>
            <xs:attribute name="domain" type="xs:string" use="required"/>
            <xs:attribute name="certPath" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="certificates">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:certificate"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="file">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="fileHandler">
        <xs:complexType>
            <xs:all minOccurs="0">
                <xs:element ref="appserver:params"/>
            </xs:all>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="extension" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="fileHandlers">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:fileHandler"/>
            </xs:choice>
        </xs:complexType>
        <xs:unique name="uniqueFileHandlerExtension">
            <xs:selector xpath="appserver:fileHandler" />
            <xs:field xpath="@extension" />
        </xs:unique>
    </xs:element>
    <xs:element name="method-name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="lifecycle-callback-method">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="location">
        <xs:complexType>
            <xs:all minOccurs="1">
                <xs:element ref="appserver:params" minOccurs="0"/>
                <xs:element ref="appserver:fileHandlers" minOccurs="0"/>
                <xs:element ref="appserver:headers" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="condition" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="locations">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:location"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="rewriteMaps">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:rewriteMap"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="rewriteMap">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:params"/>
            </xs:choice>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="url-pattern">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="virtualHost">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:analytics" minOccurs="0"/>
                <xs:element ref="appserver:params"/>
                <xs:element ref="appserver:headers" minOccurs="0"/>
                <xs:element ref="appserver:rewrites" minOccurs="0"/>
                <xs:element ref="appserver:authentications" minOccurs="0"/>
                <xs:element ref="appserver:environmentVariables" minOccurs="0"/>
                <xs:element ref="appserver:accesses" minOccurs="0"/>
                <xs:element ref="appserver:locations" minOccurs="0"/>
                <xs:element ref="appserver:rewriteMaps" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="extensionType" type="xs:string"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="virtualHosts">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:virtualHost"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
        <xs:unique name="uniqueVirtualHostName">
            <xs:selector xpath="appserver:virtualHost" />
            <xs:field xpath="@name" />
        </xs:unique>
    </xs:element>
    <xs:element name="remote">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="local">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="res-ref">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:res-ref-name"/>
                <xs:element ref="appserver:res-ref-type" minOccurs="0"/>
                <xs:element ref="appserver:lookup-name" minOccurs="0"/>
                <xs:element ref="appserver:description" minOccurs="0"/>
                <xs:element ref="appserver:injection-target" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="res-ref-name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="res-ref-type">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="rewrites">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:rewrite"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="rewrite">
        <xs:complexType>
            <xs:attribute name="condition" type="xs:string" use="required"/>
            <xs:attribute name="target" type="xs:string" use="required"/>
            <xs:attribute name="flag" type="xs:string" use="required"/>
            <xs:attribute name="extensionType" type="xs:string"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="enterprise-beans">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:session" minOccurs="0"/>
                <xs:element ref="appserver:message-driven" minOccurs="0"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="environmentVariable">
        <xs:complexType>
            <xs:attribute name="condition" type="xs:string" use="required"/>
            <xs:attribute name="definition" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="environmentVariables">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:environmentVariable"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="epb-class">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="epb-link">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="epb-name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="epb-ref">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:epb-ref-name"/>
                <xs:element ref="appserver:lookup-name" minOccurs="0"/>
                <xs:element ref="appserver:epb-link" minOccurs="0"/>
                <xs:element ref="appserver:remote" minOccurs="0"/>
                <xs:element ref="appserver:local" minOccurs="0"/>
                <xs:element ref="appserver:injection-target" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="epb-ref-name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="epb">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="appserver:enterprise-beans" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="extractors">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="appserver:extractor" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
        <xs:unique name="uniqueExtractorName">
            <xs:selector xpath="appserver:extractor" />
            <xs:field xpath="@name" />
        </xs:unique>
    </xs:element>
    <xs:element name="extractor">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="factory" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="provision">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:datasource" minOccurs="0"/>
                <xs:element ref="appserver:installation"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="provisioner">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="factory" type="xs:string"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="provisioners">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:provisioner"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
        <xs:unique name="uniqueProvisionerName">
            <xs:selector xpath="appserver:provisioner" />
            <xs:field xpath="@name" />
        </xs:unique>
    </xs:element>
    <xs:element name="logger">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:handlers"/>
                <xs:element ref="appserver:processors"/>
            </xs:choice>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="channelName" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="loggers">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:logger"/>
            </xs:choice>
        </xs:complexType>
        <xs:unique name="uniqueLoggerName">
            <xs:selector xpath="appserver:logger" />
            <xs:field xpath="@name" />
        </xs:unique>
        <xs:unique name="uniqueLoggerChannelName">
            <xs:selector xpath="appserver:logger" />
            <xs:field xpath="@channelName" />
        </xs:unique>
    </xs:element>
    <xs:element name="lookup-name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="scanner">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:params"/>
                <xs:element ref="appserver:directories"/>
            </xs:choice>
            <xs:attribute name="type" type="xs:string"/>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="factory" type="xs:string"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="scanners">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:scanner"/>
            </xs:choice>
        </xs:complexType>
        <xs:unique name="uniqueScannerName">
            <xs:selector xpath="appserver:scanner" />
            <xs:field xpath="@name" />
        </xs:unique>
    </xs:element>
    <xs:element name="server">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:connectionHandlers"/>
                <xs:element ref="appserver:params"/>
                <xs:element ref="appserver:authentications"/>
                <xs:element ref="appserver:accesses"/>
                <xs:element ref="appserver:rewriteMaps"/>
                <xs:element ref="appserver:virtualHosts"/>
                <xs:element ref="appserver:rewrites"/>
                <xs:element ref="appserver:environmentVariables"/>
                <xs:element ref="appserver:modules"/>
                <xs:element ref="appserver:headers"/>
                <xs:element ref="appserver:fileHandlers"/>
                <xs:element ref="appserver:locations"/>
                <xs:element ref="appserver:certificates"/>
                <xs:element ref="appserver:analytics"/>
            </xs:choice>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="worker" type="xs:string" use="required"/>
            <xs:attribute name="socket" type="xs:string" use="required"/>
            <xs:attribute name="streamContext" type="xs:string" use="required"/>
            <xs:attribute name="serverContext" type="xs:string" use="required"/>
            <xs:attribute name="requestContext" type="xs:string" use="required"/>
            <xs:attribute name="loggerName" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="upstream">
        <xs:complexType>
            <xs:all>
                <xs:element name="servers">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="server">
                                <xs:complexType>
                                    <xs:choice maxOccurs="unbounded">
                                        <xs:element ref="appserver:params" minOccurs="0"/>
                                    </xs:choice>
                                    <xs:attribute name="name" type="xs:string" use="required"/>
                                    <xs:attribute name="type" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:all>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="session-config">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:session-name"/>
                <xs:element ref="appserver:session-file-prefix" minOccurs="0"/>
                <xs:element ref="appserver:garbage-collection-probability" minOccurs="0"/>
                <xs:element ref="appserver:session-save-path" minOccurs="0"/>
                <xs:element ref="appserver:session-maximum-age" minOccurs="0"/>
                <xs:element ref="appserver:session-inactivity-timeout" minOccurs="0"/>
                <xs:element ref="appserver:session-cookie-lifetime" minOccurs="0"/>
                <xs:element ref="appserver:session-cookie-domain" minOccurs="0"/>
                <xs:element ref="appserver:session-cookie-path" minOccurs="0"/>
                <xs:element ref="appserver:session-cookie-secure" minOccurs="0"/>
                <xs:element ref="appserver:session-http-only" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="session-cookie-domain">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="session-cookie-lifetime">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="session-cookie-path">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="session-cookie-secure">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="appserver:simpleElement">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="session-file-prefix">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="session-http-only">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="appserver:simpleElement">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="session-inactivity-timeout">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="session-maximum-age">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="session-name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="session-save-path">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="session-type">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="session">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:session-type"/>
                <xs:element ref="appserver:epb-name"/>
                <xs:element ref="appserver:epb-class"/>
                <xs:element ref="appserver:local"/>
                <xs:element ref="appserver:remote"/>
                <xs:element ref="appserver:init-on-startup" minOccurs="0"/>
                <xs:element ref="appserver:remove-method" minOccurs="0"/>
                <xs:element ref="appserver:post-construct" minOccurs="0"/>
                <xs:element ref="appserver:pre-destroy" minOccurs="0"/>
                <xs:element ref="appserver:post-detach" minOccurs="0"/>
                <xs:element ref="appserver:pre-attach" minOccurs="0"/>
                <xs:element ref="appserver:epb-ref" minOccurs="0"/>
                <xs:element ref="appserver:res-ref" minOccurs="0"/>
                <xs:element ref="appserver:persistence-unit-ref" minOccurs="0"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="datasources">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:datasource"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
        <xs:unique name="uniqueDatasourceName">
            <xs:selector xpath="appserver:datasource" />
            <xs:field xpath="@name" />
        </xs:unique>
    </xs:element>
    <xs:element name="datasource">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="appserver:database" minOccurs="0"/>
            </xs:choice>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="database">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:driver"/>
                <xs:element ref="appserver:user" minOccurs="0"/>
                <xs:element ref="appserver:password" minOccurs="0"/>
                <xs:element ref="appserver:databaseHost" minOccurs="0"/>
                <xs:element ref="appserver:databaseName" minOccurs="0"/>
                <xs:element ref="appserver:path" minOccurs="0"/>
                <xs:element ref="appserver:memory" minOccurs="0"/>
                <xs:element ref="appserver:unixSocket" minOccurs="0"/>
                <xs:element ref="appserver:driverOptions" minOccurs="0"/>
                <xs:element ref="appserver:charset" minOccurs="0"/>
                <xs:element ref="appserver:serverVersion" minOccurs="0"/>
                <xs:element ref="appserver:platform" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="unixSocket">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="serverVersion">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="platform">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="charset">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="driverOptions">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="driver">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="user">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="databaseHost">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="databaseName">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="path">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="thread">
        <xs:complexType>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="deployment">
        <xs:complexType>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="host">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:contexts"/>
            </xs:choice>
            <xs:attribute name="deployBase" type="xs:string" use="optional"/>
            <xs:attribute name="tmpBase" type="xs:string" use="optional"/>
            <xs:attribute name="appBase" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="formatter">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:params"/>
            </xs:choice>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="pointcut-name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="pointcut-pattern">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="pointcut">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:pointcut-name"/>
                <xs:element ref="appserver:pointcut-pattern"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="pointcuts">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:advice"/>
                <xs:element ref="appserver:pointcut"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="remove-method">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="appserver:method-name" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="post-construct">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="appserver:lifecycle-callback-method" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="pre-destroy">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="appserver:lifecycle-callback-method" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="post-detach">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="appserver:lifecycle-callback-method" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="pre-attach">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="appserver:lifecycle-callback-method" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="processors">
        <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element ref="appserver:processor"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="processor">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:params"/>
            </xs:choice>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="garbage-collection-probability">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="handler">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:formatter"/>
                <xs:element ref="appserver:params"/>
            </xs:choice>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="handlers">
        <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element ref="appserver:handler"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="param-name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="param-value">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="param">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="type" type="xs:string" use="required"/>
                    <xs:attribute name="constant" type="xs:boolean"/>
                    <xs:attribute name="env" type="xs:boolean"/>
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="params">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:param"/>
            </xs:choice>
        </xs:complexType>
        <xs:unique name="uniqueParamName">
            <xs:selector xpath="appserver:param" />
            <xs:field xpath="@name" />
        </xs:unique>
    </xs:element>
    <xs:element name="systemProperty">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="type" type="xs:string" use="required"/>
                    <xs:attribute name="constant" type="xs:boolean"/>
                    <xs:attribute name="env" type="xs:boolean"/>
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="systemProperties">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:systemProperty"/>
            </xs:choice>
        </xs:complexType>
        <xs:unique name="uniqueSystemPropertyName">
            <xs:selector xpath="appserver:systemProperty" />
            <xs:field xpath="@name" />
        </xs:unique>
    </xs:element>
    <xs:element name="password">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="manager">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:descriptors" minOccurs="0"/>
                <xs:element ref="appserver:params" minOccurs="0"/>
                <xs:element ref="appserver:directories" minOccurs="0"/>
                <xs:element ref="appserver:authenticators" minOccurs="0"/>
                <xs:element ref="appserver:sessionHandlers" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="beanName" type="xs:string"/>
            <xs:attribute name="mappedName" type="xs:string"/>
            <xs:attribute name="beanInterface" type="xs:string"/>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="factory" type="xs:string"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="managers">
        <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element ref="appserver:manager"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
        <xs:unique name="uniqueManagerName">
            <xs:selector xpath="appserver:manager" />
            <xs:field xpath="@name" />
        </xs:unique>
    </xs:element>
    <xs:element name="memory">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:boolean"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="message-driven">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:epb-name"/>
                <xs:element ref="appserver:epb-class"/>
                <xs:element ref="appserver:epb-ref" minOccurs="0"/>
                <xs:element ref="appserver:res-ref" minOccurs="0"/>
                <xs:element ref="appserver:persistence-unit-ref" minOccurs="0"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="message-queue">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:destination"/>
            </xs:all>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="message-queues">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:message-queue"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="persistence">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:persistenceUnits"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="persistenceUnits">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:persistenceUnit"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="persistenceUnit">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:datasource"/>
                <xs:element ref="appserver:metadataConfiguration" minOccurs="0"/>
                <xs:element ref="appserver:metadataCacheConfiguration" minOccurs="0"/>
                <xs:element ref="appserver:resultCacheConfiguration" minOccurs="0"/>
                <xs:element ref="appserver:queryCacheConfiguration" minOccurs="0"/>
                <xs:element ref="appserver:annotationRegistries" minOccurs="0"/>
                <xs:element ref="appserver:ignoredAnnotations" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="interface" type="xs:string" use="required"/>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="factory" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="metadataConfiguration">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:params" minOccurs="0"/>
                <xs:element ref="appserver:directories"/>
            </xs:all>
            <xs:attribute name="type" type="xs:string" use="optional"/>
            <xs:attribute name="factory" type="xs:string" use="optional"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="metadataCacheConfiguration">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:params" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="factory" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="queryCacheConfiguration">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:params" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="factory" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="resultCacheConfiguration">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:params" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="factory" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="annotationRegistries">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:annotationRegistry"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="annotationRegistry">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:directories" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="type" type="xs:string" use="optional"/>
            <xs:attribute name="file" type="xs:string" use="optional"/>
            <xs:attribute name="namespace" type="xs:string" use="optional"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="namespace">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="omitEnforcement" type="xs:string"/>
                    <xs:attribute name="omitAutoLoading" type="xs:string"/>
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="namespaces">
        <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element ref="appserver:namespace"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
        <xs:unique name="uniqueNamespace">
            <xs:selector xpath="appserver:namespace" />
            <xs:field xpath="value" />
        </xs:unique>
    </xs:element>
    <xs:element name="web-app">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:display-name" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="appserver:description" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="appserver:session-config" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="appserver:context-param" minOccurs="0"/>
                <xs:element ref="appserver:servlet" minOccurs="0"/>
                <xs:element ref="appserver:servlet-mapping" minOccurs="0"/>
                <xs:element ref="appserver:security-constraint" minOccurs="0"/>
                <xs:element ref="appserver:login-config" minOccurs="0"/>
                <xs:element ref="appserver:security-role" minOccurs="0"/>
                <xs:element ref="appserver:error-page" minOccurs="0"/>
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="worker">
        <xs:complexType>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="persistence-unit-ref">
        <xs:complexType>
            <xs:all>
                <xs:element ref="appserver:persistence-unit-ref-name"/>
                <xs:element ref="appserver:persistence-unit-name" minOccurs="0"/>
                <xs:element ref="appserver:injection-target" minOccurs="0"/>
                <xs:element ref="appserver:description" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="uuid" type="xs:string"/>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="persistence-unit-ref-name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="persistence-unit-name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string"/>
                    <xs:attribute ref="xml:base"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
