tests/_files/appserver.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:appserver="http://www.appserver.io/appserver"
    targetNamespace="http://www.appserver.io/appserver"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    
	<xs:element name="appserver">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:baseDirectory" />
				<xs:element ref="appserver:initialContext" />
				<xs:element ref="appserver:systemLogger" />
				<xs:element ref="appserver:containers" />
                <xs:element ref="appserver:apps" />
			</xs:choice>
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="baseDirectory">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="initialContext">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="appserver:description" />
				<xs:element ref="appserver:classLoader" />
				<xs:element ref="appserver:storage" />
			</xs:choice>
			<xs:attribute name="type" type="xs:string" />
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="description">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="classLoader">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" />
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="storage">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="appserver:servers" />
			</xs:choice>
			<xs:attribute name="type" type="xs:string" />
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="servers">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="appserver:server" />
			</xs:choice>
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="server">
		<xs:complexType>
			<xs:attribute name="address" type="xs:string" />
			<xs:attribute name="port" type="xs:string" />
			<xs:attribute name="weight" type="xs:string" />
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="systemLogger">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="appserver:processors" />
				<xs:element ref="appserver:handlers" />
			</xs:choice>
			<xs:attribute name="type" type="xs:string" />
			<xs:attribute name="channelName" type="xs:string" />
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="containers">
		<xs:complexType>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element ref="appserver:container" />
			</xs:choice>
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
    <xs:element name="apps">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:app" />
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string" />
        </xs:complexType>
    </xs:element>
    <xs:element name="datasources">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="appserver:datasource" />
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string" />
        </xs:complexType>
    </xs:element>
	<xs:element name="container">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="appserver:description" />
				<xs:element ref="appserver:receiver" />
				<xs:element ref="appserver:deployment" />
				<xs:element ref="appserver:host" />
			</xs:choice>
            <xs:attribute name="name" type="xs:string" />
			<xs:attribute name="threadType" type="xs:string" />
			<xs:attribute name="type" type="xs:string" />
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
    <xs:element name="app">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" />
            <xs:attribute name="webappPath" type="xs:string" />
            <xs:attribute name="uuid" type="xs:string" />
        </xs:complexType>
    </xs:element>
    <xs:element name="datasource">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="appserver:database" />
            </xs:choice>
            <xs:attribute name="name" type="xs:string" />
            <xs:attribute name="uuid" type="xs:string" />
        </xs:complexType>
    </xs:element>
    <xs:element name="database">
        <xs:complexType>
            <xs:choice maxOccurs="1">
                <xs:element ref="appserver:driver" />
                <xs:element ref="appserver:user" />
                <xs:element ref="appserver:password" />
                <xs:element ref="appserver:databaseName" />
                <xs:element ref="appserver:path" />
            </xs:choice>
            <xs:attribute name="uuid" type="xs:string" />
        </xs:complexType>
    </xs:element>
    <xs:element name="driver">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="user">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="password">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="databaseName">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="path">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	<xs:element name="receiver">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="appserver:worker" />
				<xs:element ref="appserver:thread" />
				<xs:element ref="appserver:params" />
			</xs:choice>
			<xs:attribute name="type" type="xs:string" />
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="worker">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" />
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="thread">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" />
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="deployment">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" />
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="host">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="appserver:vhosts" />
			</xs:choice>
			<xs:attribute name="appBase" type="xs:string" />
			<xs:attribute name="name" type="xs:string" />
			<xs:attribute name="serverAdmin" type="xs:string" />
			<xs:attribute name="serverSoftware" type="xs:string" />
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="vhosts">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="appserver:vhost" />
			</xs:choice>
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="vhost">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="appserver:aliases" />
			</xs:choice>
			<xs:attribute name="appBase" type="xs:string" />
			<xs:attribute name="name" type="xs:string" />
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="aliases">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="appserver:alias" />
			</xs:choice>
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="alias">
		<xs:complexType>
			<xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="uuid" type="xs:string" />
                </xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="formatter">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="appserver:params" />
			</xs:choice>
			<xs:attribute name="type" type="xs:string" />
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="processors">
		<xs:complexType>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element ref="appserver:processor" />
			</xs:choice>
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="processor">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="appserver:params" />
			</xs:choice>
			<xs:attribute name="type" type="xs:string" />
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="handlers">
		<xs:complexType>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element ref="appserver:handler" />
			</xs:choice>
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="handler">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="appserver:formatter" />
				<xs:element ref="appserver:params" />
			</xs:choice>
			<xs:attribute name="type" type="xs:string" />
            <xs:attribute name="uuid" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="params">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="appserver:param" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="param">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string" />
					<xs:attribute name="type" type="xs:string" />
                    <xs:attribute name="uuid" type="xs:string" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>